<body>
  <div class="container-fluid bg-forestgreen text-white p-3 text-shadow">
    <h1 class="display-1 fw-bold lh-1 mb-3">Find your Favorite Artists and Songs </h1>
    <div class="col-lg-9">
      <p class="fs-4 bs_fw-300">All your favorite music lyrics</p>
      <form id="searchBar">
        <input type="text" name="searchArtist" class="form-control my-3" placeholder="Search for Artist or Song"
          aria-label="Username" aria-describedby="basic-addon1">
      </form>
      <ul>
        {{#each results as | artist | }}
        <li>{{artist.name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="container rounded p-3 shadow bg-white text-center container-rounded">
    <h3 class="mb-3">Sign In</h3>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn btn-primary">Sign In</button>
      </div>
    </form>
    <p class="text-center">Don't have an account? <a href="#">Register</a></p>
  </div>
</body>


