        <div class="bs_hero-container min-vh-100">
            <div class="container col-xl-10 col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-lg-5 py-5">
                    <div class="text-start text-lg-start">
                        <h1 class="display-1 fw-bold lh-1 mb-3 text-white">Heading 1 </h1>
                        <div class="col-lg-9 text-white">
                            <p class="fs-4 bs_fw-300 text-white">All your favorite music lyrics
                            </p>
                            <div class="d-grid gap-2 d-flex align-items-center">
                                <button type="button"
                                    class="btn btn-outline-secondary btn-lg px-4 me-md-2 text-white">Sign In</button>
                                <button type="button" class="btn btn-primary btn-lg px-4">New User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



 <div class="bs_hero-container bs_hero_layout_4">
            <div class="container col-xl-10 col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-lg-5 py-5">
                    <div class="col-lg-7 text-center text-lg-start">
                        <h1 class="display-4 fw-bold lh-1 mb-3">Any Artist, Any Song </h1>
                        <p class="col-lg-10 fs-4">Find all your lyrics.</p>
                    </div>
                    <div class="col-md-10 mx-auto col-lg-5">
                        <form class="p-4 p-md-5 border rounded-3 bg-light">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="hero-layout-4-email"
                                    placeholder="name@example.com">
                                <label for="hero-layout-4-email">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="hero-layout-4-Password"
                                    placeholder="Password">
                                <label for="hero-layout-4-Password">Password</label>
                            </div>
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button type="button"
                                    class="btn btn-outline-secondary btn-lg px-5 text-black">Sign In</button>
                                <button type="button" 
                                class="btn btn-primary btn-lg px-4  ">New User</button>
                           <hr class="my-4">
                            <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                        </form>
                    </div>
                </div>
            </div>
        </div>