<div class="d-flex w-100">
  <ul class="list-group">
    <h2 class="list-group-item text-center font-weight-bold">Playlists</h2>
    {{#each playlists}}
    <button class="list-group-item artist-button" onclick="selectPlaylist('{{this.id}}')">
      <p class="inline text-left">{{this.name}}</p>
    </button>
    {{/each}}
  </ul>
</div>

<!-- add a new playlist -->
<form id="add-form" class="playlist-form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" class="form-control" required>
  </div>
  <button type="submit" onclick="create(event)" class="btn btn-primary">Add Playlist</button>
</form>

<!-- update an existing playlist -->
<form id="update-form" class="playlist-form" action="/user/playlists/:id" method="PUT">
  <input type="hidden" id="selectedPlaylistId" name="id" value="">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Update Playlist</button>
  <button type="button" class="btn btn-secondary" onclick="clearSelectedPlaylist()">Cancel</button>
</form>




<!-- GET route for playlists -->
{{!-- {{#if playlists}}
<script>
  const playlists = {{ json playlists }};
</script>
{{/if}} --}}

<script src="/js/profile.js" type="text/javascript" defer></script>